### How to create Pandas DataFrame from a Numpy array in Python

In [1]:
import pandas as pd
import numpy as np

In [2]:
numpy_data = np.array([[1, 2], [3, 4]])
numpy_data

array([[1, 2],
       [3, 4]])

In [3]:
df = pd.DataFrame(data=numpy_data, index=["row1", "row2"], columns=["column1", "column2"])
df

      column1  column2
row1        1        2
row2        3        4