In [89]:
import pandas as pd

In [90]:
data = pd.read_excel('Date_field.xlsx')
data.head()

  DEPARTURE DATE RETURN DATE
0       18.01.16    14.01.16
1       22.01.16    17.01.16
2       22.01.16    18.01.16
3       22/01/16    24/01/16
4       22.01.16    24.01.16

In [91]:
data.dtypes

DEPARTURE DATE    object
RETURN DATE       object
dtype: object

In [92]:
data['DEPARTURE DATE'] = pd.to_datetime(data['DEPARTURE DATE'])
data['RETURN DATE'] = pd.to_datetime(data['RETURN DATE'])

In [93]:
data.head()

  DEPARTURE DATE RETURN DATE
0     2016-01-18  2016-01-14
1     2016-01-22  2016-01-17
2     2016-01-22  2016-01-18
3     2016-01-22  2016-01-24
4     2016-01-22  2016-01-24

### Group By Based on Year

In [94]:
data['DEPARTURE DATE'].groupby([data['DEPARTURE DATE'].dt.year]).agg('count')

DEPARTURE DATE
2016.0    132
2017.0    167
2018.0    165
2019.0     69
Name: DEPARTURE DATE, dtype: int64

### Group By Based on Month

In [95]:
data['DEPARTURE DATE'].groupby([data['DEPARTURE DATE'].dt.month]).agg('count')

DEPARTURE DATE
1.0     49
2.0     34
3.0     60
4.0     43
5.0     68
6.0     54
7.0     52
8.0     20
9.0     43
10.0    32
11.0    59
12.0    19
Name: DEPARTURE DATE, dtype: int64

### Group By Based on Days

In [96]:
data['DEPARTURE DATE'].groupby([data['DEPARTURE DATE'].dt.day]).agg('count')

DEPARTURE DATE
1.0     15
2.0     32
3.0     27
4.0     10
5.0     25
6.0     14
7.0     14
9.0     23
10.0    10
11.0    11
12.0    16
13.0    23
14.0    34
15.0    29
16.0    28
17.0    16
18.0    24
19.0    26
20.0    14
21.0    12
22.0    16
23.0    15
24.0    22
25.0     9
26.0    25
27.0     7
28.0     6
29.0     9
30.0    13
31.0     8
Name: DEPARTURE DATE, dtype: int64

In [98]:
data.to_excel("Formated_date.xlsx")