## Auther: Subrat Kumar Sahoo
## Email Id: maclearnai@gmail.com
## Date: 09/04/2020

### Import Libraries

In [15]:
import pandas as pd
import pickle

### Create Dictionary

In [16]:
data = {"Name":['Subrat','Lokesh','Kiran','Sunil'],"Age":[30,25,35,29]}
data

{'Name': ['Subrat', 'Lokesh', 'Kiran', 'Sunil'], 'Age': [30, 25, 35, 29]}

### Create a DataFrame

In [21]:
df_data = pd.DataFrame(data)
df_data

     Name  Age
0  Subrat   30
1  Lokesh   25
2   Kiran   35
3   Sunil   29

### Open a Pickle Object in write mode  and dump the data into the pickle object

In [22]:
with open("pickle_object.pickle",'wb') as pickle_obj:
    pickle.dump(df_data,pickle_obj)

### Open the Pickle Object in read mode and load the data into some variable

In [23]:
with open("pickle_object.pickle",'rb') as pickle_obj:
    df_data_out = pickle.load(pickle_obj)

### Printing the Data

In [24]:
df_data_out

     Name  Age
0  Subrat   30
1  Lokesh   25
2   Kiran   35
3   Sunil   29