### Remove Special Characters From A Column

In [1]:
import pandas as pd

In [2]:
dict = {'Name':['A','B','C','D'],
       'Salary':['$100','£250','₹500','1000']}

In [3]:
df = pd.DataFrame(dict)
df

  Name Salary
0    A   $100
1    B   £250
2    C   ₹500
3    D   1000

### What ever symbols you want to replace you have to put under this regular expression

In [8]:
df['Salary'] = df['Salary'].str.replace(r"[@_!#$%^&*£₹()<>?/\|}{~:]",'')

In [9]:
df

  Name Salary
0    A    100
1    B    250
2    C    500
3    D   1000