### Remove Leading & Trailing White Spaces From Column Names

In [1]:
import pandas as pd

In [7]:
dict = {' Name ':['Asish','Binaya','Champak','Deepak'],
       'Salary ':['$100','£250','₹500','1000']}

In [8]:
df = pd.DataFrame(dict)
df

     Name  Salary
0    Asish    $100
1   Binaya    £250
2  Champak    ₹500
3   Deepak    1000

In [13]:
list(df.columns)

['Name', 'Salary']

In [14]:
df.columns = df.columns.str.strip()

In [15]:
list(df.columns)

['Name', 'Salary']