In [1]:
## Calculate Air Miles between two places.
## Auther: Subrat Kumar Sahoo
## mail: maclearnai@gmail.com

### Import Required Libraries

In [2]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [4]:
from_city = ["Lisbon","Vilnius","Bishkek"]
to_city   = ["Vilnius","Bishkek","Almaty"]
mod_data = pd.DataFrame({'from_city':from_city,
                         'to_city':to_city})
mod_data

  from_city  to_city
0    Lisbon  Vilnius
1   Vilnius  Bishkek
2   Bishkek   Almaty

In [8]:
air_miles = []
for i in range(mod_data.shape[0]):
    from_city = mod_data['from_city'][i]
    to_city = mod_data['to_city'][i]
    url = "https://www.distance.to/"+str(from_city).strip()+"/"+str(to_city).strip()
    print(url)
    response = requests.get(url)
    page = response.content
    soup = BeautifulSoup(page,'html.parser')
    miles = soup.find("span", {"class": "value mi"})
    print(miles.get_text())
    air_miles.append(miles.get_text()) 
print("Air Miles: ",air_miles)

https://www.distance.to/Lisbon/Vilnius
1,939.87
https://www.distance.to/Vilnius/Bishkek
2,333.30
https://www.distance.to/Bishkek/Almaty
120.36
Air Miles:  ['1,939.87', '2,333.30', '120.36']