In [36]:
## Author: Subrat Kumar Sahoo
##Mail Id: maclearnai@gmail.com

### Importing Required Libraries

In [37]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

### Creating a DataFrame-1

In [38]:
data = [[-1, 2,'P'], [-0.5, 5,'Q'], [0, 20,'R'], [1, 80,'S']]
data_df = pd.DataFrame(data,columns=['A','B','C'])
data_df

     A   B  C
0 -1.0   2  P
1 -0.5   5  Q
2  0.0  20  R
3  1.0  80  S

### Creating DataFrame-2

In [39]:
data1 = [[1, 2], [-0.55, 5], [5, 10], [1, 80]]
data_df1 = pd.DataFrame(data1,columns=['A','B'])
data_df1

      A   B
0  1.00   2
1 -0.55   5
2  5.00  10
3  1.00  80

### Applying MinMax Scalar

In [40]:
scaler = MinMaxScaler(feature_range=(0,1))

In [41]:
minmax = scaler.fit_transform(data_df1)

In [42]:
minmax

array([[0.27927928, 0.        ],
       [0.        , 0.03846154],
       [1.        , 0.1025641 ],
       [0.27927928, 1.        ]])

### Categorical Variable Can't apply MinMax Scalar

In [43]:
minmax = scaler.fit_transform(data_df)

ValueError: could not convert string to float: 'P'